*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Aside layout */
aside {
  display: flex;
  justify-content: center;
  width: 25%;
  background-color: lightblue;
}

/* main layout */
main {
  display: flex;
  flex-flow: wrap;
  width: 75%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 100%;
}


/*Card styles */
.bottom-section {
  display: flex;
  flex-wrap: wrap;
  background-color: #EAEAF4;
  padding: 15px;
}

.single-card {
  margin: 15px;
  border: solid 2px #1F1F3D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 380px;
  width: 320px;
  background-color: #fff;
}

.card-body {
  color: #1F1F3D;
  font-size: 18pt;
  padding: 25px;
}

.header-icons {
  height: 45px;
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
}

.header-icons img {
  
}

h2 {
  margin: 0px;
}

header {
  background-color: #1F1F3D;
  margin: 0px;
  color: #fff;
  text-align: center;
}

footer {
  background-color: #5356A4;
  display: flex;
  flex-direction: row;
  color: #fff;
  align-items: center;
}

footer img {
  height: 45px;
  float: left;
  margin: 0px;
  padding: 0px;
}

footer p {
  display: inline;
  text-align: center;
}
