*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Aside layout */
aside {
  display: flex;
  width: 25%;
  background-color: #1F1F3D;
  flex-direction: column;
}

aside p {
  color: #A9AAD2;
  grid-area: aside;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.dropdown-menu {
  display: inline;
  height: 0px;
  width: 0px;
}

.starred {
  border-bottom: 1px solid #5355A4;
  border-top: 1px solid #5355A4;
}

h1 {
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-top: 30px;
  text-align: left;
}

#Show {
  height: 50px;
  width: 80%;
  background-color: #5355A4;
  border: 2px solid #353567;
  color: #e9e9f3;
  font-size: 16px;
  margin-bottom: 30px;
  margin-left: 10%;
  font-weight: 700;
}

/* main layout */
main {
  display: flex;
  flex-flow: wrap;
  width: 75%;
  border-left: 2px solid #EAEAF4;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  width: 100%;
  background-color: #A9AAD2;
}

.labels {
  color: #1F1F3D;
  margin-right: 41%;
  margin-top: 3%;
  font-weight: bold;
}

.content {
  border: 2px solid #5356A4;
  border-radius: 3px;
  width: 45%;
  margin-top: .5%;
}

#title-text {
  height: 10%;
}

#save {
  width: 45%;
  height: 10%;
  margin-top: 3%;
  border-color: #5356A4;
  border-radius: 3px;
  background-color: #353567;
  color: #E9E9f3;
  font-size: 1.5rem;
  font-weight: 700;
}

#search-section {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 24px;
  width: 45%;
}

#search-btn {
  background-color: #353567;
  height: 46px;
  width: 46px;
  border: 2px solid #5356A4;
  border-radius: 3px 0px 0px 3px;
  border-right: none;
  align-content: center;
}

#search {
  width: 91%;
  border: 2px solid #5356A4;
  border-radius: 0px 3px 3px 0px;
  border-left: none;
  font-size: 1.2rem;
}

input::-webkit-input-placeholder {
  color: #5356A4;
}

/*Card styles */
.bottom-section {
  display: flex;
  flex-wrap: wrap;
  background-color: #EAEAF4;
  /* align-items: flex-start; */
  justify-content: space-around;
  padding: 13px;
  width: 100%;
}

.single-card {
  margin: 15px;
  border: solid 2px #1F1F3D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 380px;
  width: 320px;
  background-color: #fff;
}

.card-body {
  color: #1F1F3D;
  font-size: 16pt;
  padding: 20px;
}

.card-body p {
  font-size: 19pt;
}

h2 {
  font-size: 20pt;
  padding-bottom: 20px;
  font-weight: bold;
}

header {
  padding: 0px;
  background-color: #1F1F3D;
  margin: 0px;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.header-icons {
  height: 45px;
  display: flex;
  margin: 0px;
}

.header-icons img {
  width: 45px;
}

footer {
  background-color: #5356A4;
  display: flex;
  flex-direction: row;
  color: #fff;
  align-items: center;
}

footer img {
  height: 45px;
  float: left;
  margin: 0px;
  padding: 0px;
}

footer p {
  display: inline;
  text-align: center;
  font-size: 14pt;
  font-weight: 700;
}

/* for tablet devices */
@media only screen and (min-width: 736px) and (max-width: 974px) {
  aside {
    width: 100%;
  }

  .dropdown-menu {
    height: 45px;
    width: 45px;
  }

  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 18px;
  }

  .starred {
    display: none;
  }

  h1 {
    display: flex;
    flex-direction: row;
    margin-right: 45%;
  }

  main {
    width: 100%;
    border-left: none;
  }

  .labels {
    margin-right: 80%;
  }

  .content {
    width: 90%;
  }

  #save {
    width: 90%;
  }

  #search {
    width: 100%;
  }

  #search-section {
    width: 90%;
  }
}

/* for in between */
@media only screen and (min-width: 481px)  and (max-width: 735px) {
  aside {
    width: 100%;
  }

  .dropdown-menu {
    height: 45px;
    width: 45px;
    /* margin-right: 40%; */
  }

  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 18px;
  }

  .starred {
    display: none;
  }

  h1 {
    display: flex;
    flex-direction: row;
    margin-right: 45%;
  }

  main {
    width: 100%;
    border-left: none;
  }

  .labels {
    margin-right: 80%;
  }

  .content {
    width: 90%;
  }

  #save {
    width: 90%;
  }

  #search {
    width: 100%;
  }

  #search-section {
    width: 90%;
  }

  .single-card {
    width: 90%;
  }
}

/* for mobile devices */
 @media only screen and (max-width: 480px) {
   aside {
     width: 100%;
   }

   .dropdown-menu {
     height: 45px;
     width: 45px;
     /* margin-right: 40%; */
   }

   .nav-container {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding-left: 18px;
   }

   .starred {
     display: none;
   }

   h1 {
     display: flex;
     flex-direction: row;
     margin-right: 45%;
   }


   main {
     width: 100%;
     border-left: none;
   }

   .labels {
     margin-right: 80%;
   }

   .content {
     width: 90%;
   }

   #save {
     width: 90%;
   }

   #search {
     width: 100%;
   }

   #search-section {
     width: 90%;
   }

   .single-card {
     width: 90%;
   }
 }
