*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Aside layout */
aside {
  display: flex;
  justify-content: center;
  width: 25%;
  background-color: #1F1F3D;
}

aside p {
  color: #A9AAD2;
  grid-area: aside;
  flex-direction: column;
}


.starred {
  border-bottom: 1px solid #5355A4;
  border-top: 1px solid #5355A4;
}

h1 {
  color: #FFFFFF;
}

#Show {
  height: 50px;
  width: 300px;
  background-color: #5355A4;
  border: 2px solid #353567;
  color: #e9e9f3;
  font-size: 16px;
  margin-bottom: 30px;
}

/* main layout */
main {
  display: flex;
  flex-flow: wrap;
  width: 75%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 450px;
  width: 100%;
  background-color: #A9AAD2;
  color: #1F1F3D;
}

#title-text {
  border: 3px solid #1F1F3D;
}

#body-text {
  border: 3px solid #1F1F3D;
}


/*Card styles */
.bottom-section {
  display: flex;
  flex-wrap: wrap;
  background-color: #EAEAF4;
  padding: 15px;
  width: 100%;
}

.single-card {
  margin: 15px;
  border: solid 2px #1F1F3D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 380px;
  width: 320px;
  background-color: #fff;
}

.card-body {
  color: #1F1F3D;
  font-size: 18pt;
  padding: 20px;
}

.card-body p {
  font-size: 19pt;
}

h2 {
  margin: 0px;
  font-size: 24pt;
  padding-bottom: 30px;
}

header {
  padding: 0px;
  background-color: #1F1F3D;
  margin: 0px;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.header-icons {
  height: 45px;
  display: flex;
  margin: 0px;
}

.header-icons img {
  width: 45px;
}

footer {
  background-color: #5356A4;
  display: flex;
  flex-direction: row;
  color: #fff;
  align-items: center;
}

footer img {
  height: 45px;
  float: left;
  margin: 0px;
  padding: 0px;
}

footer p {
  display: inline;
  text-align: center;
}
